.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 19px 16px;
}

.nav-links {
    display: flex;
    padding: 12px;
    gap: 12px;
}

.logo img {
    width: 5%
}
